<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<title>Student Management System</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> -->
<script src="controllers/controller.js"></script>
</head>
<body>

	<div data-pagination="" data-num-pages="numPages()"
		data-current-page="currentPage" data-max-size="maxSize"
		data-boundary-links="true"></div>


	</nav>

	<div ng-view></div>
	<div class="container" ng-controller="AppCtrl">
		<h1>Welcome to Student Management System</h1>
		<table class="table">
			<thead>
				<tr>
					<td>Student ID</td>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Action</td>
					<td>&nbsp;</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control"
						ng-model="student.studentId"></td>
					<td><input type="text" class="form-control"
						ng-model="student.firstName"></td>
					<td><input type="text" class="form-control"
						ng-model="student.lastName"></td>
					<td><button class="btn btn-primary" ng-click="addContact()">Add
							New</button></td>
					<td><button class="btn btn-Info" ng-click="update()">Update</button>&nbsp;&nbsp;
						<button class="btn btn-Info" ng-click="clear()">Clear</button></td>
				</tr>
				<tr ng-repeat="student in studentList">
					<td>{{student.studentId}}</td>
					<td>{{student.firstName}}</td>
					<td>{{student.lastName}}</td>
					<td><button class="btn btn-danger"
							ng-click="remove(student.studentId)">Delete</button></td>
					<td><button class="btn btn-warning"
							ng-click="edit(student.studentId)">Edit</button></td>
				</tr>


			</tbody>
		</table>
	</div>

</body>
</html>